<head>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    {% if page.layout == 'post' %}
        <meta description="{{ page.excerpt | strip_html }}">
    {% else %}
        <meta description="{{ page.description }}">
    {% endif %}
    <title>
        {{ page.title }} &middot; {{ site.title }}
    </title>
     
    {% if page.card %}
        <meta name="twitter:card" content="summary" />
        <meta name="twitter:site" content="@martin_steel" />
        <meta name="twitter:title" content=" {{ page.title }}" />
        <meta name="twitter:description" content="{{ page.excerpt | strip_html }}" />
        {% comment %}
        <meta name="twitter:image" content="URL here" />
        <meta name="twitter:card" content="summary_large_image">
        <meta property="og:image" content="http://example.com/image.jpg" />
        {% endcomment %} 

        <meta property="og:title" content="{{page.title}}" />
        <meta property="og:type" content="article" />
        <meta property="og:url" content="{{site.url}}{{page.url}}" />
        <meta property="og:description" content="{{page.excerpt | strip_html}}" /> 
        <meta property="og:site_name" content="Martin Steel" />
        <meta property="fb:app_id" content="362448887519103" /> 
    {% endif %}

  <!-- CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">
  <link href='https://fonts.googleapis.com/css?family=Lato:400,400italic|Josefin+Slab:400,600' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/style.css" />
  
  <!-- Icons -->
  <!-- <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ site.baseurl }}public/apple-touch-icon-precomposed.png"> -->
  <!-- <link rel="shortcut icon" href="{{ site.baseurl }}public/favicon.ico"> -->

  <!-- RSS -->
  <link rel="alternate" type="application/atom+xml" title="{{ site.title }}" href="{{ site.baseurl }}atom.xml">
</head>
